.works-container
  width: 100%
  height: 100%

.cover-container
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  background: $linear-gradient

  img
    opacity: 1
    transition: $main-transition

.description-container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center

.footer-container
  position: fixed
  bottom: 20px
  width: 100%

  +phone
    bottom: 0

  .copyright,
  .socials
    height: 30px
    width: 50%

    +phone
      line-height: 30px

  .copyright
    float: left

  .socials
    float: right
    text-align: right

.work-description-container
  width: 60%
  margin-top: 200px
  position: fixed
  left: 50%
  transform: translate3d(-50%, 0, 0)

  +phone
    margin-top: 100px

.images-list-container
  z-index: 2
  position: relative

.arrows-container
  width: 50%

  &.prev
    text-align: right
    border-right: 2px solid $white