.description-container
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center

.footer-container
  position: fixed
  bottom: 20px
  width: 100%

  .copyright,
  .socials
    height: 30px
    width: 50%

  .copyright
    float: left

  .socials
    float: right
    text-align: right