#app
  +fontFamily('avenir')
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $white
  background: $bg-color
  min-height: 100vh

.clearfix
  clear: both

.fade-enter-active,
.fade-leave-active
  transition: $main-transition

.fade-enter-to,
.fade-leave
  opacity: 1

.fade-enter,
.fade-leave-to
  opacity: 0