.logo-container
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  position: fixed
  top: 20px
  left: 20px
  font-size: 50px
  z-index: 2

  a
    color: rgba(225, 255, 255, .35)
    text-decoration: none

  span
    color: rgba(255, 255, 255, 1)
    position: absolute
    top: 17px
    left: 23px